// Content

body {
	background-color: black;
	display: block;
	font-family: "VT323", monospace;
	justify-content: center;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
	position: relative;
	visibility: hidden;
	@media screen and (min-width: 1000px) {
		display: flex;
	}
}

.display {
	align-self: flex-start;
	display: none;
	flex-direction: column;
	height: 100vh;
	justify-content: space-between;
	min-height: 100%;
	color: rgb(252, 164, 0);
	margin: 10px 0;
	width: 20vw;
}

@media only screen and (min-width: 1000px) {
	.display {
		display: flex;
	}
}

@media only screen and (max-width: 1000px) {
	canvas {
		transform: translateY(5%) translateX(-5%);
	}
}
.score {
	font-size: 70px;
	margin: 20px 0;
}

.score-display {
	padding: 20px 0;
}

.launcher-outer {
	margin-bottom: 45px;
	height: 200px;
	background-color: rgba(255, 255, 255, 0.1);
	width: 50px;
	display: flex;
}

.launcher-inner {
	background-color: limegreen;
	height: 0;
	width: 100%;
	align-self: flex-end;
}

.alert-window {
	font-size: 50px;
	padding-top: 20px;
}

.controls {
	position: absolute;
	bottom: 10px;
	width: 100%;
	padding-right: 23vw;
	text-align: center;
	color: white;
	p {
		margin-top: 10px;
	}
}

.glitch {
	color: white;
	top: 10px;
	position: absolute;
	left: 0;
}

.start-screen {
	position: fixed;
	background: rgba(0, 0, 0, 0.7);
	z-index: 999;
	flex-direction: column;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	transform: scale(2.5);
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	a {
		color: white;
		margin: 0 0 1rem 0;
	}
	h1 {
		font-size: 50px;
	}
	p {
		display: block;
	}
}
